.newUser{

    flex: 4;


}

.newUserTitle{

    font-weight: 600;
    font-size: 24px;

}

.newUserForm{

display: flex;
flex-wrap: wrap;
}

.newUserItem{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUserItem>label{

    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.newUserItem > input{

    border: 1px solid gray;;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.newUserGender > input{

    margin-top: 10px;
}

.newUserGender > label{

    margin: 10px;
    font-size: 18px;
    color:#555;
}

.newUserSelect{

    height: 40px;
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.newUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 5px 7px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 600;
    cursor: pointer;

}


